body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: lightblue;
}

input {
	margin-right: 10px;
	font-size: 15px;
}

.red {
	color: red;
}

.yellow {
	color: yellow;
}
