
.right{
	background-color: grey;
	font-size: 22px;
	font-family: arial;
	list-style-position: right;
}

.left {
	background-color:blue;
	font-size: 24px;
	font-family: arial;
	list-style-position: left;
}
